<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" type="text/css" href="/static/css/usuario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<!-- Formulário de Inclusão -->
<div class="container">
    <h1><i class="fas fa-user fa-lg icon"></i>Cadastro de Usuário</h1>
    <form id="cadastroUsuarioForm">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>

        <label for="tipoAcesso">Tipo de Acesso:</label><br>
        <select id="tipoAcesso" name="tipoAcesso">
            <option value="Aluno">Aluno</option>
            <option value="Professor">Professor</option>
            <option value="Funcionário">Funcionário</option>
        </select><br><br>

        <input type="submit" value="Cadastrar">
    </form>
</div>
<!-- Modal -->
    <div id="modal" class="modal">
         <div class="modal-content">
             <span class="close">&times;</span>
            <p id="modalText"></p>
    </div>
</div>
<script src="/static/js/usuario.js"></script>
</body>
</html>