<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<!-- SideBar -->
<div class="sidebar">
    <h1><i class="fas fa-book-reader"></i> Biblioteca</h1>
    <nav>
        <a href="usuarios/cadastroUsuario.html"><i class="fas fa-user-plus"></i> Cadastro de Usuário</a>
        <a href="livro/cadastroLivro.html"><i class="fas fa-book"></i> Cadastro de Livros</a>
        <a href="#"><i class="fas fa-link"></i> Outros Links</a>
    </nav>
</div>
<!-- SVG -->
<div id="svgContainer">
    <img src="/static/img/undraw_education_f8ru.svg" alt="Library" width="500" height="500">
</div>
</body>
</html>
